/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;

  img {
    display: block;
  }

  a {
    text-decoration: none;
  }

  .inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  .btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;

    &:hover {
      background-color: #333;
      color: #fff;
    }

    &.btn--reverse {
      background-color: #333;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: #333;
      }
    }

    &.btn--brown {
      color: #592B18;
      border-color: #592B18;

      &:hover {
        color: #fff;
        background-color: #592B18;
      }
    }

    &.btn--gold {
      color: #D9AA8A;
      border-color: #D9AA8A;

      &:hover {
        color: #fff;
        border-color: #D9AA8A;
      }
    }

    &.btn--white {
      color: #fff;
      border-color: #fff;

      &:hover {
        color: #333;
        border-color: #fff;
      }
    }
  }
}

/* HEADER */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;

  & > .inner {
    height: 120px;

    .logo {
      height: 75px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    .sub-menu {
      position: absolute;
      top: 10px;
      right: 0;
      display: flex;

      ul.menu {
        font-family: Arial, sans-serif;
        display: flex;

        li {
          position: relative;

          a {
            font-size: 12px;
            padding: 11px 16px;
            display: block;
            color: #656565;

            &:hover {
              color: #000;
            }
          }

          &:before {
            content: "";
            width: 1px;
            height: 12px;
            background-color: #e5e5e5;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
          }

          &:first-child:before {
            display: none;
          }
        }
      }

      .search {
        position: relative;
        height: 34px;

        input {
          width: 36px;
          height: 34px;
          padding: 4px 10px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 5px;
          outline: none;
          background-color: #fff;
          color: #777;
          transition: width .4s;

          &:focus {
            width: 190px;
            border-color: #669900;
            font-size: 12px;
          }
        }

        .material-icons {
          height: 24px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 5px;
          margin: auto;
          transition: .4s;
        }

        &.focused .material-icons {
          opacity: 0;
        }
      }
    }
  }

  .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;

    .item {
      .item__name {
        padding: 10px 20px 34px 20px;
        font-family: Arial, sans-serif;
        font-size: 13px;
      }

      .item__contents {
        width: 100%;
        position: fixed;
        left: 0;
        display: none;

        .contents__menu {
          background-color: #2c2a29;

          & > ul {
            display: flex;
            padding: 20px 0;

            & > li {
              width: 220px;

              h4 {
                padding: 3px 0 12px 0;
                font-size: 14px;
                color: #fff;
              }

              ul {
                li {
                  padding: 5px 0;
                  font-size: 12px;
                  color: #999;
                  cursor: pointer;

                  &:hover {
                    color: #669900;
                  }
                }
              }
            }
          }
        }

        .contents__texture {
          padding: 26px 0;
          font-size: 12px;
          background-image: url("../images/main_menu_pattern.jpg");

          h4 {
            color: #999;
            font-weight: 700;
            font-size: 12px;
          }

          p {
            color: #669900;
            margin: 4px 0 14px;
          }
        }
      }

      &:hover {
        .item__name {
          background-color: #2c2a29;
          color: #669900;
          border-radius: 6px 6px 0 0;
        }
      }

      &:hover .item__contents {
        display: block;
      }
    }
  }

  .badges {
    position: absolute;
    top: 132px;
    right: 12px;

    .badge {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
      cursor: pointer;
    }
  }
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;

  .inner {
    height: 646px;

    .title {
      position: absolute;
      top: 88px;
      left: -10px;

      .btn {
        position: absolute;
        top: 259px;
        left: 173px;
      }
    }

    .cup1 {
      &.image {
        position: absolute;
        bottom: 0;
        right: -47px;
      }

      &.text {
        position: absolute;
        top: 38px;
        right: 171px;
      }
    }

    .cup2 {
      &.image {
        position: absolute;
        bottom: 0;
        right: 162px;
      }

      &.text {
        position: absolute;
        top: 321px;
        right: 416px;
      }
    }

    .spoon {
      position: absolute;
      bottom: 0;
      left: 275px;
    }
  }

  .fade-in {
    opacity: 0;
  }
}